		<div class="row">
			<div class="span6">
				
			</div>
		</div>
		
		

<script type="text/javascript">

$(document).ready(function() {
  	$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
		var $total = navigation.find('li').length;
		var $current = index+1;
		var $percent = ($current/$total) * 100;
		$('#rootwizard').find('.bar').css({width:$percent+'%'});
		
		// If it's the last tab then hide the last button and show the finish instead
		if($current >= $total) {
			$('#rootwizard').find('.pager .next').hide();
			$('#rootwizard').find('.pager .finish').show();
			$('#rootwizard').find('.pager .finish').removeClass('disabled');
		} else {
			$('#rootwizard').find('.pager .next').show();
			$('#rootwizard').find('.pager .finish').hide();
		}
		
	}});
	$('#rootwizard .finish').click(function() {
		alert('Finished!, Starting over!');
		$('#rootwizard').find("a[href*='tab1']").trigger('click');
	});
});





</script>

 <%= form_for @member, :html => { :multipart => true }, :url =>"/admin/members/#{@member.id}" do |c|%>


		<div class='container'>
		
		<div class="span12">
			<section id="wizard">
			  <div class="page-header">
	            <h1>Enter Information</h1>
	          </div>
	
				<div id="rootwizard">
					<div class="navbar">
					  <div class="navbar-inner">
					    <div class="container">
					<ul>
	  	<li><a href="#tab1" data-toggle="tab">Comman Info</a></li>
		<li><a href="#tab2" data-toggle="tab">English</a></li>
		<li><a href="#tab3" data-toggle="tab">मराठी </a></li>
		<li><a href="#tab4" data-toggle="tab">Qualification</a></li>
		
	</ul>
	 </div>
	  </div>
	</div>
	<div class="tab-content">
	    <div class="tab-pane" id="tab1">
	     <% 
	     	if @member.profiles[0].language == "E"
	     		@profile_E=@member.profiles[0] 
	     		@profile_M=@member.profiles[1]
	     	else
	     		@profile_E=@member.profiles[1] 
	     		@profile_M=@member.profiles[0]
	     	end
	     		%>
			<%= c.label :email %>
			<%= c.text_field :email, :rows => 5, :cols => 5, :class => "padding5 span5" %>
			<br><br>
			<%= c.label :photo %>
			<%= c.file_field :photo %>
			
			<br><br>
			
			<%= c.label :dob %>

			<%= c.text_field :dob, :class => "height35 padding5 span5", :readonly => true, "data-date-format" => "dd/mm/yyyy" %>
			<br><br>

			<%= c.label :joining_date %>
			<%= c.text_field :joining_date,  :class => "height35 padding5 span5", :readonly => true, "data-date-format" => "dd/mm/yyyy" %>
			<br><br>

			<%= c.label :curront_posting_joning_date %>
			<%= c.text_field :curront_loction_joning_date, :class => "height35 padding5 span5", :readonly => true, "data-date-format" => "dd/mm/yyyy" %>
			<br><br>
			<%= c.label :Phonenos %>
						
					
						<script type="text/javascript">
var intTextBox=-1;

//FUNCTION TO ADD TEXT BOX ELEMENT
function addElement(value)
{
	if(value==null)
	{
		value="Enter phone no"
	}
intTextBox = intTextBox + 1;
var contentID = document.getElementById('phone');
var newTBDiv = document.createElement('div');
newTBDiv.setAttribute('id','strText'+intTextBox);
newTBDiv.innerHTML = "Phone no.  "+ (intTextBox + 1) +": <input type='text' value='"+value+"' id='" + intTextBox + "' name='phone[" + intTextBox + "]'/>";
contentID.appendChild(newTBDiv);
}

//FUNCTION TO REMOVE TEXT BOX ELEMENT
function removeElement()
{
if(intTextBox != 0)
{
var contentID = document.getElementById('phone');
contentID.removeChild(document.getElementById('strText'+intTextBox));
intTextBox = intTextBox-1;
}
}
</script>
						



		<a href="javascript:addElement(' ');" >Add</a>
		<a href="javascript:removeElement();" >Remove</a>

<div id="phone">   </div>

			
<% 
						
						@phones=JSON.parse(@member.phones) rescue""
						
						if !@phones.blank?
							 @phones.each do |phone| %>
							<script type="text/javascript"> addElement(<%=phone[1]%>); </script>
							
							<% end 
						end%>


	    </div>
	    		
	    <div class="tab-pane" id="tab2">
	      <%= c.label :name %>

			<input id="member_name" class="height35 padding5 span5" type="text" size="30" name="profile_E[name]" value='<%= @profile_E.name %>'>
			<br><br>
			<%= c.label :designation %>
			<select class="height35 padding5 span5"   name="profile_E[designation]" >
				<option selected value='<%= @profile_E.designation%>'> <%= @profile_E.designation%></option>
				<option value=" Additional Collector"> Additional Collector</option>
				<option value=" Dy.Collector">Dy.Collector</option>
				<option value="  Tahsildar">  Tahsildar</option>
				<option value=" Naib-Tahsildar "> Naib-Tahsildar </option>
			</select>

			
			<br><br>
			<%= c.label :current_post %>

			<input id="profile_current_post" class="height35 padding5 span5" type="text" size="30" name="profile_E[current_post]"  value='<%= @profile_E.current_post %>'>
			<br><br>
			<%= c.label :current_posting_district %>

			<input id="profile_current_workong_district" class="height35 padding5 span5" type="text" size="30" name="profile_E[current_workong_district]" value=<%= @profile_E.current_workong_district%>>
			<br><br>

			<%= c.label :current_posting_location %>

			<input id="profile_current_working_location" class="height35 padding5 span5" type="text" size="30" name="profile_E[current_working_location]" value=<%= @profile_E.current_working_location%>>
			<br><br>

			<%= c.label :home_district %>
			<input id="profile_district" class="height35 padding5 span5" type="text" size="30" name="profile_E[district]" value=<%= @profile_E.district%>>
			
			<br><br>

			<%= c.label :home_city %>

			<input id="profile_city" class="height35 padding5 span5" type="text" size="30" name="profile_E[city]" value=<%= @profile_E.city%>>
			<br><br>



	    </div>
		<div class="tab-pane" id="tab3">
			
			<label >अधिकाऱ्यांचे नांव</label>

			


			<input id="profile_name" class="height35 padding5 span5" type="text" size="30" name="profile_M[name]" value='<%= @profile_M.name %>'>
			<br><br>





			<label >मुळ गाव</label>

			<input id="profile_city" class="height35 padding5 span5" type="text" size="30" name="profile_M[city]"  value=<%= @profile_M.city%>>
			<br><br>

			<label >मुळ जिल्हा </label>
			<input id="profile_district" class="height35 padding5 span5" type="text" size="30" name="profile_M[district]" value=<%= @profile_M.district%>>
			<br><br>
			<h1><b>सध्याची पदस्थापना</b></h1><br>
			<%= c.label :current_post %>

			<input id="profile_current_post" class="height35 padding5 span5" type="text" size="30" name="profile_M[current_post]" value='<%= @profile_M.current_post %>'>
			<br><br>
			<label > पदाचे नाव   </label>

			<input id="profile_designation" class="height35 padding5 span5" type="text" size="30" name="profile_M[designation]"  value=<%= @profile_M.designation%>>
			<br><br>

			<label >जिल्हा</label>

			<input id="profile_current_workong_district" class="height35 padding5 span5" type="text" size="30" name="profile_M[current_workong_district]"  value=<%= @profile_M.current_workong_district%>>
			<br><br>

			<label > विभाग</label>

			<input id="profile_current_working_location" class="height35 padding5 span5" type="text" size="30" name="profile_M[current_working_location]"  value=<%= @profile_M.current_working_location%>>
			<br><br>

			
			



	    </div>
		<div class="tab-pane" id="tab4">
			
			<table width="800">
				<tr>
					<th >
						Qualification
					</th>
						<th >
							 शैक्षणिकअर्हता
						</th>
						<th>
						</th>
						
					</tr>
					</table>
				
					
					
						
						
						
					<script type="text/javascript">
var intqualification=-1;

//FUNCTION TO ADD TEXT BOX ELEMENT
function addQualification(value_E,value_M)
{
intqualification = intqualification + 1;
var contentID = document.getElementById('qualification');
var newTBDiv = document.createElement('div');
newTBDiv.setAttribute('id','strText'+intqualification);
newTBDiv.innerHTML = " <input type='text' id='" + intqualification + " ' class='height35 padding5 span5' size='30' value='"+value_E+"' name='qualification_E[" + intqualification + "]'/><input type='text' id='" + intqualification + "' class='height35 padding5 span5' size='30'  value='"+value_M+"'name='qualification_M[" + intqualification + "]'/>";
contentID.appendChild(newTBDiv);
}

//FUNCTION TO REMOVE TEXT BOX ELEMENT
function removeQualification()
{
if(intqualification != 0)
{
var contentID = document.getElementById('qualification');
contentID.removeChild(document.getElementById('strText'+intqualification));
intqualification = intqualification-1;
}
}
</script>
<a href="javascript:addQualification();" >Add</a>
		<a href="javascript:removeQualification();" >Remove</a>
		<div id="qualification">   </div>


<% 
						
						@qualifications_E=JSON.parse(@profile_E.qualifications)  rescue""
						@qualifications_M=JSON.parse(@profile_M.qualifications) rescue""
						%>
						<%
						if !@qualifications_M.blank? && !@qualifications_E.blank?
							i=0; 
							@qualifications_arry_M=Hash.new()
							@qualifications_arry_M={[0]=>"0"}
							@qualifications_M.each do |qualification| 

								@qualifications_arry_M[i]=qualification[1]
								i = i + 1

							end 

							i=0; 
							@qualifications_arry_M=Hash.new()
							@qualifications_arry_M={[0]=>"0"}
							@qualifications_M.each do |qualification| 

								@qualifications_arry_M[i]=qualification[1]
								i = i + 1

							end 
							i=0
							@qualifications_E.each do |qualification| %>

								<script type="text/javascript"> addQualification('<%= qualification[1]%>','<%=@qualifications_arry_M[i] %>');</script>
									

							<%

								i= i + 1
							end
						end
						%> 

		



			




	    </div>
		
		<ul class="pager wizard">
			<li class="previous first"><a href="javascript:;">First</a></li>
			<li class="previous"><a href="javascript:;">Previous</a></li>
			<li class="next last"><a href="javascript:;">Last</a></li>
		  	<li class="next"><a href="javascript:;">Next</a></li>
			<li class="next finish" style="display:none;"><a href="javascript:;">Finish</a></li>
		</ul>
	</div>	
</div>

			<input type="button" value="Save" class="padding10" onclick="check_valid()">
			<input type="button" value="Cancel" class="padding10" onclick="window.location.href='/admin/members'">
			
		<% end %>

		<script type="text/javascript">
			$('#member_dob').datepicker();
			$('#member_joining_date').datepicker();

			$('#member_curront_loction_joning_date').datepicker();


			check_valid = function(){
				// if($('#member_member_date').val()!=null && $('#member_member_date').val() != "")					
				// 	$('#member_member_date').val(new Date($('#member_member_date').val()));
				document.forms[0].submit();
			}

		
		</script>