<link rel="stylesheet" href="/assets/admin/jquery-ui.css" />

<script src="/assets/admin/jquery-ui.js"></script>
<script>

	$(function() {
	$( "#dob" ).datepicker({
	changeMonth: true,
	changeYear: true
	});

	$( "#joining_date" ).datepicker({
	changeMonth: true,
	changeYear: true
	});

	$( "#curront_loction_joning_date" ).datepicker({
	changeMonth: true,
	changeYear: true
	});

	});





</script>

<div class="span12">
			<section id="wizard">
			  <div class="page-header">
	            <h1>Enter Your Informetion</h1>
	          </div>
	           <%= form_for @member, :html => { :multipart => true }, :url => admin_members_path do |c|%>

			 	<%= c.label :name %>

				<input id="member_name" class="height35 padding5 span5" type="text" size="30" name="profile_E[name]">
				<br><br>
				<%= c.label :designation %>
				<select class="height35 padding5 span5"   name="profile_E[designation]">

					<option value=" Additional Collector"> Additional Collector</option>
					<option value=" Dy.Collector">Dy.Collector</option>
					<option value="  Tahsildar">  Tahsildar</option>
					<option value=" Naib-Tahsildar "> Naib-Tahsildar </option>
					<option value=" Other "> Other </option>
				</select>
				
				<br><br>

				<%= c.label :Education %>
				<script type="text/javascript">
					var intqualification=0;

					//FUNCTION TO ADD TEXT BOX ELEMENT
					function addQualification()
					{
						intqualification = intqualification + 1;
						var contentID = document.getElementById('qualification');
						var newTBDiv = document.createElement('div');
						newTBDiv.setAttribute('id','strText'+intqualification);
						newTBDiv.innerHTML = " <input type='text' id='" + intqualification + " ' class='height35 padding5 span5' size='30' name='qualification_E[" + intqualification + "]'/>";
						contentID.appendChild(newTBDiv);
					}

					//FUNCTION TO REMOVE TEXT BOX ELEMENT
					function removeQualification()
					{
						if(intqualification != 0)
						{
							var contentID = document.getElementById('qualification');
							contentID.removeChild(document.getElementById('strText'+intqualification));
							intqualification = intqualification-1;
						}
					}
				</script>


				<input id="qualification_E" class="height35 padding5 span5" type="text" size="30" name="qualification_E[0]">

			
								


				<a href="javascript:addQualification();" >Add</a>
				<a href="javascript:removeQualification();" >Remove</a>

				<div id="qualification">   </div>

				<br><br>
				<%= c.label :Phonenos %>
		

				Phone no.  1: <input id="0" type="text" name="phone[o]">

				<script type="text/javascript">
					var intTextBox=0;

					//FUNCTION TO ADD TEXT BOX ELEMENT
					function addElement()
					{
						intTextBox = intTextBox + 1;
						var contentID = document.getElementById('phone');
						var newTBDiv = document.createElement('div');
						newTBDiv.setAttribute('id','strText'+intTextBox);
						newTBDiv.innerHTML = "Phone no.  "+ (intTextBox + 1) +": <input type='text' id='" + intTextBox + "' name='phone[" + intTextBox + "]'/>";
						contentID.appendChild(newTBDiv);
					}

					//FUNCTION TO REMOVE TEXT BOX ELEMENT
					function removeElement()
					{
						if(intTextBox != 0)
						{
							var contentID = document.getElementById('phone');
							contentID.removeChild(document.getElementById('strText'+intTextBox));
							intTextBox = intTextBox-1;
						}
					}
				</script>

				<a href="javascript:addElement();" >Add</a>
						<a href="javascript:removeElement();" >Remove</a>

				<div id="phone">   </div>
				<br>
				<br>


			<%= c.label :email %>
			
			<%= c.text_field :email, :rows => 5, :cols => 5, :class => "padding5 span5" %>
			<br><br>
			

			<%= c.label :home_district %>
			<%= collection_select("profile_E", :district, District.order(:name), :id, :name, {:selected => "38"}, { :class=>"height35 padding5 span5", :onchange =>"enable('profile_E_city')" }) %>
			
			<br><br>
			

			<%= c.label :home_taluka %>
			<%= grouped_collection_select("profile_E", :city, District.order(:name), :talukas, :name, :id, :name, { :include_blank => true, :prompt =>"NA"}, { :class=>"height35 padding5 span5" })%>
			
			
			<br><br>

			<%= c.label :dob %>
			<%= c.text_field :dob, :id=>"dob", :class => "height35 padding5 span5",  "data-date-format" => "dd/mm/yyyy" %>
			<br><br>
			
			

			<%= c.label :date_of_joining_dept %>
			<%= c.text_field :joining_date, :id=>"joining_date", :class => "height35 padding5 span5",  "data-date-format" => "dd/mm/yyyy" %>
			<br><br>

			<%= c.label :present_post %>

			<input id="profile_current_workong_district" class="height35 padding5 span5" type="text" size="30" name="profile_E[current_post]">
			<br><br>

			<%= c.label :posting_district %>
			
			<%= collection_select("profile_E", :current_workong_district, District.order(:name), :id, :name, {:selected => "38"}, { :class=>"height35 padding5 span5", :onchange =>"enable('profile_E_current_working_location')" }) %>

			
			<br><br>
			

			<%= c.label :posting_taluka %>
			<%= grouped_collection_select("profile_E", :current_working_location, District.order(:name), :talukas, :name, :id, :name, { :include_blank => true, :prompt =>"NA"}, { :class=>"height35 padding5 span5" })%>
			
			<br><br>

			<%= c.label :posting_date %>
			<input type="text" id="curront_loction_joning_date" class="height35 padding5 span5" type="text" size="30"  name="member[curront_loction_joning_date]"/>
			
			<br><br>
			

			<%= c.label :photo %>
			<%= c.file_field :photo %>
			<br><br>

			

			
			
			
			



<input id="profile_current_workong_district"  type="hidden"  name="profile_M[current_post]">
		

		<input type="button" value="Save" class="padding10" onclick="document.forms['new_member'].submit();">
			<input type="button" value="Cancel" class="padding10" onclick="window.location.href='/admin/members'">
			
		<% end %>
		

		
		<script type="text/javascript">
			check_valid = function(){
				// if($('#member_member_date').val()!=null && $('#member_member_date').val() != "")					
				// 	$('#member_member_date').val(new Date($('#member_member_date').val()));
				document.forms[0].submit();
			}
		
			
		</script>
		<br><br>
	<script src="http://jashkenas.github.com/coffee-script/extras/coffee-script.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/coffeescript">
		jQuery -> 
			talukas = $('#profile_E_current_working_location').html()
			$('#profile_E_current_workong_district').change ->
				dist = $('#profile_E_current_workong_district :selected').text()
				options = $(talukas).filter("optgroup[label='#{dist}']").html()
				if options
					$('#profile_E_current_working_location').html(options)
				else
					$('#profile_E_current_working_location').empty()
				
	</script>
	<script type="text/coffeescript">
		jQuery -> 
			talukas = $('#profile_E_city').html()
			$('#profile_E_district').change ->
				dist = $('#profile_E_district :selected').text()
				options = $(talukas).filter("optgroup[label='#{dist}']").html()
				$('#profile_E_city').parent().show() 
				if options
					$('#profile_E_city').html(options)

				else
					$('#profile_E_city').empty()
				 $('#profile_E_city option:selected').text("NA")
				
	</script>
	<script type="text/javascript">
	document.getElementById("profile_E_city").disabled=true;
	document.getElementById("profile_E_current_working_location").disabled=true;
	function enable( id)
	{
		o=document.getElementById(id);
		o.disabled=false;
		$('select option:contains("NA")').prop('selected',true);
		
	}
	</script>
	