

		<div class="row">
			<div class="span6">
				<h1><%= @title %></h1>
				<p><%= @desc %></p>
			</div>
			<div class="span6">
				<input type="button" value="Add New" class="padding10" onclick="window.location.href='/admin/members/new';">
			</div>
		</div>
		<br>

		<table class= "table">
				<tr>
					<th class="span1">Id
					<th class="span2">Name
					<th class="span2">अधिकाऱ्यांचे नांव
					<th class="span2">Email
					
					<th class="span2">phone no
					
					<th class="span2">Photo
				</tr>	
			<% @members.each do |c| %>
				<tr style="font-size: 12px;"><td><%= c.id %>
					<%
					@profiles=c.profiles
					 @profiles.each do |profiles| 
						if profiles['language']=="M"
							@Profile_M=	profiles
						else 
							@Profile_E=	profiles
						end
					end
					%>
					<td><a href=/admin/members/<%= c.id%>><%=  @Profile_E.name%></a>
					<td><%=  @Profile_M.name%>
					<td><%= c.email %>
					
					
					<td>
						<% 
						
						@phones=JSON.parse(c.phones) rescue""
						%>
						<% @phones.each do |phone| %>
						<%=phone[1]%>/<br>
							<% end %>
					<td>
						<img src=<%=c.photo%> width=60 >
						
						
					
				</tr>
			<% end %>
		</table>