

		<div class="row">
			<div class="span6">
				<h1><%= @title %></h1>
				<p><%= @desc %></p>
			</div>
			<div class="span6">
				<input type="button" value="Add New" class="padding10" onclick="window.location.href='/admin/members/new';">
			</div>
		</div>
		<br>

		<table class= "table">
				<tr>
					<th class="span1">Id
					<th class="span2">Name
					<th class="span2">Email
					<th class="span2">DOB
					<th class="span2">Qualification
					<th class="span2">City
					<th class="span2">District
					<th class="span2">Joining Date
					<th class="span2">Designation
					<th class="span2">current workong district
					<th class="span2">current working location
					
					<th class="span2">Curront Joining Date
					<th class="span2">phone no
					
					<th class="span2">Actions
				</tr>	
			<% @members.each do |c| %>
				<tr style="font-size: 12px;"><td><%= c.id %>
					<td><%=  %>
					<td><%= c.email %>
					<td><%= c.dob rescue "" %>		
					<td><%=  %>
					<td><%=  %>
					<td><%=  %>

					<td><%= c.joining_daterescue rescue"" %>
					<td><%=  %>
						<td><%=  %>
							<td><%=  %>
					<td><%= c.curront_loction_joning_date rescue "" %>	
					
					<td><%= c.phones rescue "" %> 				
					
					
					
				</tr>
			<% end %>
		</table>