<div class='container'>
		
		<div class="span12">
			<section id="wizard">
			  <div class="page-header">
	<%
		@profiles=@member.profiles
		 @profiles.each do |profiles| 
			if profiles['language']=="M"
				@Profile_M=	profiles
			else 
				@Profile_E=	profiles
			end
		end
	%>
	<table class= "table">
				<tr>
<td>
  <b>Name:</b><td>
  <%= @Profile_E.name rescue ""%>
<tr>

<td>
  <b>नाव:</b><td>
  <%= @Profile_M.name rescue ""%>
<tr>
<td>
  <b>जन्म दिनांक:</b><td>
  <%= @member.dob rescue ""%>
<tr>
<td>
  <b>शैक्षणिक अर्हता:</b><td>
 <% 
						
						@qualifications=JSON.parse(@Profile_M.qualifications) rescue""
						if if !@qualifications.blank?
							%>
							<% @qualifications.each do |qualification| %>
							<%=qualification[1]%>/
							<% end 
						end%>
<tr>
<td>
  <b>मुळ गांव:</b><td>
  <%= @Profile_M.city rescue ""%>
<tr>
<td>
  <b>मुळ जिल्हा:</b><td>
  <%= @Profile_M.district rescue ""%>
<tr>
<td>
  <b>सेवेत रुजूझाल्याचा दिनांक:</b><td>
  <%= @member.joining_date rescue ""%>
<tr>
<td>
  <b>पदाचेनांव:</b><td>
  <%= @Profile_M.designation rescue ""%>
<tr>
<td>
  <b>सध्याच्या पदावर कार्यरत असल्याचा दिनांक :</b><td>
  <%= @member.curront_loction_joning_date rescue ""%>
<tr>
<td>
  <b>ई-मेल आयडी:</b><td>
  <%= @member.email rescue ""%>
<tr>


	<td>
	
		<a href= /admin/members/<%= @member.id%>/edit> <%= image_tag("/assets/edit.png") %></a> &nbsp 
            <%= link_to image_tag("/assets/delete.png"), "/admin/members/#{@member.id}", :method => :delete,  :confirm => 'Are you sure?' %> &nbsp
            
   </table>
		
				
		