



  

<script type="text/javascript">

$(document).ready(function() {
  	$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
		var $total = navigation.find('li').length;
		var $current = index+1;
		var $percent = ($current/$total) * 100;
		$('#rootwizard').find('.bar').css({width:$percent+'%'});
		
		// If it's the last tab then hide the last button and show the finish instead
		if($current >= $total) {
			$('#rootwizard').find('.pager .next').hide();
			$('#rootwizard').find('.pager .finish').show();
			$('#rootwizard').find('.pager .finish').removeClass('disabled');
		} else {
			$('#rootwizard').find('.pager .next').show();
			$('#rootwizard').find('.pager .finish').hide();
		}
		
	}});
	$('#rootwizard .finish').click(function() {
		alert('Finished!, Starting over!');
		$('#rootwizard').find("a[href*='tab1']").trigger('click');
	});
});
</script>




<div class='container'>
	<div class="span12">
		<section id="wizard">
			<div id="rootwizard">
				<div class="navbar">
				  <div class="navbar-inner">
					    <div class="container">
							<ul>
	  
								<li><a href="#tab1" data-toggle="tab">Pending Users</a></li>
								<li><a href="#tab2" data-toggle="tab">Approved Users</a></li>
								<li><a href="#tab3" data-toggle="tab">Declined Users</a></li>
								<li><a href="#tab4" data-toggle="tab">All Users</a></li>
							</ul>
	 					</div>
	  				</div>
				</div>
				<div class="tab-content">

	    			<div class="tab-pane" id="tab1">
	     				<table class= "table">
			 			 	<tr>
				 			 	<th>Name</th>
				 			 	<th>Phone</th>
				 			 	<th>Email</th>
				 			 	<th>Posting District</th>
				 			 	<th>Status</th>
				 			 	<th>Action</th>
				 			 </tr>
				 			 <%  @users_not_approved.each do |user| %> 
					 			 <tr>
					 			 	<td><%= user.name%></td>
					 			 	<td><%= user.phone%></td>
					 			 	<td><%= user.mail%></td>
					 			 	<td><%= user.designation %></td>
					 			 	<td><%= user.posting_district %></td>
					 			 	<td><a href='/admin/approve/<%= user.id%>'>Approve</a> </td>
					 			 	<td><a href='/admin/decline/<%= user.id%>'>Decline</a> </td>
					 			 </tr>
				 			 <%end%>	
				 		</table>
			 			
					 	
	    			</div>

	    			

	    			<div class="tab-pane" id="tab2">
	     				
	     				<table class= "table">
			 			 	<tr>
				 			 	<th>Name</th>
				 			 	<th>Phone</th>
				 			 	<th>Email</th>
				 			 	<th>Designation</th>
				 			 	<th>Posting District</th>
				 			 	<th>Action</th>
				 			 </tr>
				 			 <%  @users_approved.each do |user| %> 
					 			 <tr>
					 			 	<td><%= user.name%></td>
					 			 	<td><%= user.phone%></td>
					 			 	<td><%= user.mail%></td>
					 			 	<td><%= user.designation %></td>
					 			 	<td><%= user.posting_district %></td>
					 			 	<td><a href='/admin/decline/<%= user.id%>'>Decline</a> </td>
					 			 </tr>
				 			 <%end%>	
				 		</table>

					</div>	


						


					<div class="tab-pane" id="tab3">
	     				
	     				<table class= "table">
			 			 	<tr>
				 			 	<th>Name</th>
				 			 	<th>Phone</th>
				 			 	<th>Email</th>
				 			 	<th>Designation</th>
				 			 	<th>Posting District</th>
				 			 	<th>Action</th>
				 			 </tr>
				 			 <%  @users_declined.each do |user| %> 
					 			 <tr>
					 			 	<td><%= user.name%></td>
					 			 	<td><%= user.phone%></td>
					 			 	<td><%= user.mail%></td>
					 			 	<td><%= user.designation %></td>
					 			 	<td><%= user.posting_district %></td>

					 			 	<td><a href='/admin/approve/<%= user.id%>'>Approve</a> </td>
					 			 </tr>
				 			 <%end%>	
				 		</table>

					</div>	



					<div class="tab-pane" id="tab4">
	     				<table class= "table">
			 			 	<tr>
				 			 	<th>Name</th>
				 			 	<th>Phone</th>
				 			 	<th>Email</th>
				 			 	<th>Designation</th>
				 			 	<th>Posting District</th>
				 			 	<th>Status</th>
				 			 	<th>Action</th>
				 			 </tr>
				 			 <%  @users.each do |user| %> 
					 			 <tr>
					 			 	<td><%= user.name%></td>
					 			 	<td><%= user.phone%></td>
					 			 	<td><%= user.mail%></td>
					 			 	<td><%= user.designation %></td>
					 			 	<td><%= user.posting_district %></td>
					 			 	<td>
					 			 		<% if user.approved==0%>Not approved
					 			 		<% elsif user.approved==1%>Admin
					 			 		<% elsif user.approved==2%>Approved
					 			 		<% else %> Declined<% end %>
					 			 	</td>
					 			 	<td> 
					 			 		<% if user.approved!=1 %>
					 			 			<%= link_to image_tag("/assets/delete.png"), "/admin/users/#{user.id}", :method => :get,  :confirm => 'Are you sure want to delete user?' %>
					 			 		
			 <div id="myModal<%= user.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel">Edit Password</h3>
            </div>
            <div class="modal-body">
              <% @user=User.find(user.id) %>

              <% phone= user.phone%>
				<%= form_for @user, :html => { :multipart => true ,:method => :post}, :url =>"/admin/edit/" do |f|%>
 				<input type="hidden" value="<%= user.phone %>" name="user[phone]">
 				
 				<div><%= f.label :new_password %> 
 				
  				<%= f.password_field :password, :autocomplete => "off", :style=>"width:90%;" %></div><br>

  				<div><%= f.label :password_confirmation %>
  				<%= f.password_field :password_confirmation, :style=>"width:90%;" , :autocomplete => "off" %></div><br>
  				<div><%= f.submit "Update" %></div>
			<% end %> 

              
            </div>
            <div class="modal-footer">
             
            </div>
          </div>
          
            <a data-toggle="modal" href="#myModal<%= user.id%>" ><img src="/assets/edit.png"></a>
         
					 			 		
					 			 			
					 			 		<% end %>
					 			 		 </td>	
					 			 </tr>
				 			 <%end%>	
				 		</table>
					</div>			

	    		</div>
		
		
			</div>	
		</section>
	</div>
</div>


<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    

   
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
  
   
				 
  