		<div class="row">
			<div class="span6">
				<h1><%= @title %></h1>
				<p><%= @desc %></p>
			</div>
			<div class="span6">
				<input type="button" value="Add New" class="padding10" onclick="window.location.href='/admin/profiles/new';">
			</div>
		</div>
		<br>

		<table class= "table">
				<tr>
					<th class="span1">Id
					<th class="span2">First Name
					<th class="span6">Last Name
					<th class="span2">Email
					<th class="span2">Phone
					<th class="span1">Address
					<th class="span1">State
					<th class="span2">City
					<th class="span2">Actions
				</tr>	
			<% @profiles.each do |profile| %>
				<tr style="font-size: 12px;"><td><%= profile.id %>
					<td><%= profile.first_name %>
					<td><%= profile.last_name %>				
					<td><%= profile.email rescue "" %>
					<td><%= profile.phone rescue "" %> 
					<td><%= profile.address %>					
					<td><%= profile.state %>
						<td><%= profile.city %>
					<td><%= link_to image_tag("/assets/edit.png"), edit_admin_profile_path(profile) , :method => :get %> &nbsp 
						<%= link_to image_tag("/assets/delete.png"), admin_profile_path(profile), :method => :delete, :class =>"delete_#{profile.id}", :remote => :true, :confirm => 'Are you sure?' %> &nbsp
						
					
				</tr>
			<% end %>
		</table>