		<div class="row">
			<div class="span6">
				<h1><%= @title %></h1>
				<p><%= @desc %></p>
			</div>
		</div>
		
		<%= form_for @gr, :html => { :multipart => true }, :url => admin_gr_path(@gr) do |c|%>

			<%= c.label :name %>
			<%= c.text_field :name, :autofocus => true, :class => "height35 padding5 span5" %>

			<%= c.label :details %>
			<%= c.text_area :details, :rows => 5, :cols => 5, :class => "padding5 span5" %>

			<%= c.label :unique_code %>
			<%= c.text_field :unique_code, :class => "height35 padding5 span5" %>
			<br><br>

			<%= c.label :document %>
			<%= c.file_field :document %>

			<br><br>
			<%= c.label :gr_date %>
			<% if @gr.gr_date.blank? %>
				<%= c.text_field :gr_date, :class => "height35 padding5 span5", :readonly => true %>
			<% else %>
				<%= c.text_field :gr_date, :value => @gr.gr_date.strftime("%m/%d/%Y"), :class => "height35 padding5 span5", :readonly => true %>
			<% end %>

			<br><br>
			<%= c.label :department %>
			<%= c.collection_select(:department_id, Department.all, :id, :name, {:prompt => true}, {:class => "height35 padding5", :style => "width: 367px;"}) %>

			<br><br>
			<br>
			<input type="button" value="Save" class="padding10" onclick="check_valid()">
			<input type="button" value="Cancel" class="padding10" onclick="window.location.href='/admin/grs'">

		<% end %>


		<script type="text/javascript">
			$('#gr_gr_date').datepicker();

			check_valid = function(){
				if($('#gr_gr_date').val()!=null && $('#gr_gr_date').val() != "")					
					$('#gr_gr_date').val(new Date($('#gr_gr_date').val()));
				document.forms[0].submit();
			}
		</script>
