<html>

  <title>Department Phonebook</title>
  	<%= stylesheet_link_tag    "admin/admin" %>
  	<%= stylesheet_link_tag    "admin/gallery" %>
	<%= javascript_include_tag  "admin/admin" %>
	<%= yield :scripts %> 
	<%= stylesheet_link_tag 'gmaps4rails' %>
	<%= csrf_meta_tags %>
	
</head>
<body class="blog">
	<%= render 'admin/header' %> 
	<div style="margin-left: 30px; margin-right: 30px;">
	<br>	
		<% unless @page_caching %>	
			<% flash.each do |key, value| %>
				<br>
				<div class="alert alert-<%= key %>" id="alert-flash"><%= value %>
					<a class="close" data-dismiss="alert" href="#">&times;</a>
				</div>
				
			<% end %>
		<% end %>
		<%= yield %>
</div>

<div style="margin-left: 30px; margin-right: 30px;">
			
			<div class="row">
			<div class="span6" >
			 <h1>Your Photo Gallery</h1>
			</div>	
			<div class="span6" style="text-align:right">
			<!--  <a class="btn" href="gallery_image/new">Upload Image</a> -->
			<a class="btn" data-toggle="modal" href="#myModal" >Upload Image</a>
			</div>	
			</div>

<%= will_paginate @images %>
<ul class="photo-grid">
 <% @images.each do |images|%>
 <% if !images.photo.blank? %>
	<li>
		<a href="gallery_image/<%=images.id%>" data-method="delete">
			<figure>
				<img src='<%=images.photo%>' height="180" width="320" alt="Arc de Triomphe">
				<figcaption><p>Click to Delete Image</p></figcaption>
			</figure>
		</a>
	</li>
	<% end %>
	<%end%>
	</ul>
</div>

</body>
</html>




<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Upload Image</h3>
  </div>
  <div class="modal-body" style="margin-left:30px;">
   <% @images=GalleryImage.new %>
   <%= form_for :images, :html => {:controller => :gallery_image, :multipart => true , :method =>:post},:url => {:action => :create} do |c| %>
    <table>
			<tr>
				<td style="padding:5px"><%= c.label :photo, :required => true %></td>
				<td></td>
					<td style="padding:5px"><%= c.file_field :photo, :required => true %></td>
			
				</tr>
				<tr>
					<td style="padding:5px" colspan="3"><%= c.submit "Upload Image" %></td>
				</tr>
			
	</table>
   <% end %>
  </div>
  
</div>
