<html>
<head>
  <title>EasyRails</title>
	<%= stylesheet_link_tag    "style" %>	
	<%= csrf_meta_tags %>
</head>
<body class="home blog">
	<%= render "layouts/header" %>
	<section id="content">
		<%= render "section_content" %>
		<%= render "layouts/sidebar" %>
	</section>	    
</body>
</html>
