<header>
	<div id="header-wrapper">
		<div id="search-header">
			<form class="searchform" action="/" method="get">
				<input id="s" class="search-input" type="text" name="s" onblur="this.value='Search'" onfocus="this.value=''" value="Search">
			</form>
		</div>
		<div id="header-login">
			<% if user_signed_in? %>
				<%= current_user.email %>
			<strong><%= link_to 'Logout', logout_path %></strong>
			</a>
			<% else %>
			<a href="<%= new_user_session_path %>">
				<strong>Log in</strong>
			</a>
			<span>or</span>
			<a href="<%= new_user_registration_path %>">Sign up</a>
			<% end %>
		</div>
        <div style="float: left">
            <a id="logo" href="<%= root_path %>">
                <img src="/images/logo.gif" height=100px width=100px>
            </a>    
        </div>
		<a id="logo" href="<%= root_path %>">
			EasyRails
		</a>
		<nav id="mainnav" class="clearfix">
			<ul id="primary-menu" class="sf-menu sf-js-enabled sf-shadow">
			<li><a href="">Releases</a></li>
			<li><a href="">Articles</a></li>
			<li><a href="">Categories</a></li>
			<li><a href="">About</a></li>
			<li><a href="/contact">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</header>
